/* 
Author: Shadowserver Foundation - https://www.shadowserver.org/
Member: Duncan 'Webantix' Alderson
*/

/* Global Styles */
*         { -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important; }
body      {text-rendering:optimizeLegibility; color:#333; margin:0; padding:0; background-color:#F1F1F1; word-wrap:break-word;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased}
#nav-cont {padding-left: 0;}
#pag-cont {padding: 5px 15px; width: 100%;}
#pag-cont h1    {color: #0088CC; border-bottom: 1px solid #adb2b7; font-size: 20px}
#pag-cont h2  {color: #0088CC; font-size: 16px;}
#pag-cont .row {margin:20px 0 0 0 ;}
#pag-cont .col-lg-12 {border: 1px solid #adb2b7; background-color: #fff}
.navbar-inverse .navbar-nav>li>a {color: #fff;}
.navbar-fixed-top {border: 0;  background-color: #0088CC;}
.navbar-brand   {padding: 0;}
.navbar-inverse .navbar-toggle {border: 0px; }
.breadcrumb {background-color: #FFF;}

/* Hide sidebar for all mobile screens, show later */
.sidebar {
  display: none;
}



/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
body {padding-top: 165px}
.navbar-header  {min-height: 150px;}
.navbar-nav  {display: none;}
.navbar-brand   {padding: 5px 20px;}
.navbar-fixed-top {border: 0;  
background: #ffffff; /* Old browsers */
background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,#FFF), color-stop(55%,#ADB2B8),color-stop(57%,#0088cc), color-stop(100%,#0088cc)); /* Chrome,Safari4+ */}
#pag-cont {padding-left: 250px; padding-right: 25px;}
  .sidebar {
    position: fixed;
    top: 130px;
    bottom: 0;
    left: 0;
    width: 225px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #323232;
    border-right: 1px solid #eee;
  }
}












.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}





/*
 * Sidebar
 */

/* Desktops and laptops ----------- */
@media (min-width: 768px) {

}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #F1F1F1;
}
